/* Typography
-------------------------------------------------- */

html, body {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	text-transform: capitalize;
	broder-bottom: green 1px solid;
}

/* Layout
-------------------------------------------------- */

html, body {
	height: 100%;
	margin: 0;
}

#wrapper {
	background-color: #ffffff;
	height: 100%;
	position: absolute;
	width:100%;
	min-width: 1024px;
}

#header {
	color: #c69c6d;
	background-color: #333333;
	top: 0;
	padding: 10px;
	position: fixed;
	height: 40px;
	width: 100%;
	z-index: 4;
}

#footer {
	color: #c69c6d;
	background-color: #333333;
	bottom: 0;
	padding: 10px;
	position: fixed;
	height: 40px;
	width: 100%;
	z-index: 4;
}

	#header a, #footer a{
		color: #c69c6d;
	}

#loader{
	background: rgba(44, 44, 44, 0.06) url('../../img/preloader.gif') no-repeat center;
	display: none;
	height: 100%;
	position: absolute;
	width:100%;
	z-index: 1;
}

#content {
	top: 40px;
	bottom: 40px;
	position: fixed;
	width:100%;
	overflow: hidden;
}

	#content .menu {
		background-color: #e7e7e7;
		top: 40px;
		bottom: 40px;
		position: fixed;
		padding: 0;
		overflow: hidden;
	}
	
	#content .frame {
		top: 40px;
		bottom: 40px;
		position: fixed;
		overflow: scroll;
		padding:10px;
	}

#login {
    top: 20%;
    position: relative;
}

#sql-dump{
	margin: 10px 0;
}

#modal{
	display:none;
   	background-color: rgba(0, 0, 0, 0.7);
  	background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 20px;
}

/* Navigation
-------------------------------------------------- */
.sidebar {
	display: block;
	float: left;
	width: 100%;
	background: #e7e7e7;
}

.sidebar .content {
	display: block;
	overflow: hidden;
	width: auto;
}

.sidebar-nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sidebar-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active
	{
	outline: none;
}

.sidebar-nav ul li, .sidebar-nav ul a {
	display: block;
}

.sidebar-nav ul a {
	padding: 10px 20px;
	color: #333333;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active
	{
	background: #754c24;
	color: #ffffff;
	text-decoration: none;
}

.sidebar-nav ul ul a {
	padding: 10px 30px;
	background-color: rgba(255, 255, 255, 0.7);
}

.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active
	{
	background: #c69c6d;
}

.sidebar-nav-item {
	padding-left: 5px;
}

.sidebar-nav-item-icon {
	padding-right: 5px;
}

/* Table
-------------------------------------------------- */
table {
	margin-top : 10px;
}

table th .th-actions{
	width:120px;
}

#sql-dump table{
	background-color: #fff666;
	width: 100%;
}

#sql-dump table th, #sql-dump table td {
	padding: 5px;
	border: #808080 1px solid;
}


/* Form
-------------------------------------------------- */
form {
	margin-top : 10px;
}

/* Button
-------------------------------------------------- */
.btn.btn-default.pukis {
  border: 1px solid #603913;
  background-color: #603913;
  color: #ffffff;
  margin-top: 10px;
}

.btn.btn-default.pukis:hover {
  color: #fff;
  background-color: #7a4918;  
}

.btn.btn-default.pukis-soft {
  float: right;
  border: 1px solid #c69c6d;
  color: #603913;
  background-color: #c69c6d;
  margin-top: 10px;
}

.btn.btn-default.pukis:hover {
  color: #fff;
  background-color: c7b299;  
}

/* Color
-------------------------------------------------- */
.bg-white {
	background-color: #FFFFFF;
}
.bg-white-gray {
	background-color: #F6F6F6;
}
.bg-gray {
	background-color: #999999;
}
.bg-gray-black {
	background-color: #333333
}
.bg-black {
	background-color: #000000;
}
.bg-pukis {
	background-color: #603913;
}
.bg-pukis-soft {
	background-color: #C69C6D;
}
.ft-white {
	color: #FFFFFF;
}
.ft-white-gray {
	color: #F6F6F6;
}
.ft-gray {
	color: #999999;
}
.ft-gray-black {
	color: #333333
}
.ft-black {
	color: #000000;
}
.ft-pukis {
	color: #603913;
}
.ft-pukis-soft {
	color: #C69C6D;
}

/* Utility
-------------------------------------------------- */

.line {
	border-bottom: 1px solid;
	width: 100%
}

.box {
	border: 1px solid;
	width: 100%
}